*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.headings {
    margin-top: 120px;
    margin-left: 20px;
 }
h1 {
    font-size: 70px;
    font-weight: bold ;
    }
h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}
.google, .apple,.phone,.sgn{
    width: 340px ;
    border-radius: 20px;
    height: 45px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
    border-color: rgb(184, 184, 184);
}
#google {
    margin-bottom: 10px;
}
.google:hover {
    background-color: #edfaf9;
}
.sgn:hover {
    background-color: #effcfb;
}
.apple:hover {
    background-color: rgb(212, 209, 209);
}
.aa::before{
    display: inline-block;
    color:grey;
    width: 130px;
    content: "";
    border: 1px solid grey;
    margin-left: 36px;
    margin-top: 20px;

}
.aa::after{
    display: inline-block;
    color:grey;
    width: 150px;
    content: "";
    border: 1px solid grey;
    margin-left:10px ;
    margin-top: 20px;

}
.phone {
    margin-top: 7px;
    background-color: #6da0db;
    color: white;
    margin-top: 10px ;
    border: hidden;
    font-weight: bold ;
}
.phone:hover{
    background-color: #71d8d1;
}
.sgn{
    color: #71d8d1;
    background-color: white;
    font-weight: 600;
    font-size: large;
    margin-top: 11px;
}
.or{
    display: inline;
    margin-left: 10px;
}
.tag{
    font-size: 11px;
    margin-left: 30px;
    margin-top: 8px;
}
footer{
    margin-top: 10px;
    margin-left: 5px;
}
.unda{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(129, 129, 129);
    font-size: smaller;

    
}
a:hover{
    text-decoration: underline;
}

.last {
    text-align: center;
    margin-top: 3px;
}
a{
    text-decoration: none;
}
h4{
    margin-left: 30px;
    font-weight: 500;
    margin-top: 50px;
}
button{
    border-style: solid;
}
